
*{
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    margin-top: 0%;
    margin: 0;
    padding-top: 0%;
    background-color: #f7f7f7;
}

.header, .footer {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 2em;
    color: #333;
}

.facility {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.facility-icon {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.facility-icon img {
    max-width: 100px;
}

.facility-info {
    flex: 3;
    padding: 20px;
}

.facility h2 {
    font-size: 1.5em;
    color: #FF595A;
    margin-bottom: 10px;
}

.facility p {
    font-size: 1em;
    line-height: 1.6;
    color: #0f0c0c;
}

a {
    color: #007BFF;
}
